<h1>Listing ambulances</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Tel</th>
    <th>Traffic info</th>
    <th>Display addr</th>
    <th>Poi addr</th>
    <th>X</th>
    <th>Y</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ambulances.each do |ambulance| %>
  <tr>
    <td><%= ambulance.name %></td>
    <td><%= ambulance.category %></td>
    <td><%= ambulance.tel %></td>
    <td><%= ambulance.traffic_info %></td>
    <td><%= ambulance.display_addr %></td>
    <td><%= ambulance.poi_addr %></td>
    <td><%= ambulance.x %></td>
    <td><%= ambulance.y %></td>
    <td><%= link_to 'Show', ambulance %></td>
    <td><%= link_to 'Edit', edit_ambulance_path(ambulance) %></td>
    <td><%= link_to 'Destroy', ambulance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ambulance', new_ambulance_path %>
