<%= form_for(@polouse) do |f| %>
  <% if @polouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@polouse.errors.count, "error") %> prohibited this polouse from being saved:</h2>

      <ul>
      <% @polouse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :traffic_information %><br />
    <%= f.text_field :traffic_information %>
  </div>
  <div class="field">
    <%= f.label :display_addr %><br />
    <%= f.text_field :display_addr %>
  </div>
  <div class="field">
    <%= f.label :poi_addr %><br />
    <%= f.text_field :poi_addr %>
  </div>
  <div class="field">
    <%= f.label :x %><br />
    <%= f.text_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br />
    <%= f.text_field :y %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
