<html>  
<head>  
  <title>Mayday</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript"  
  src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=YD-eQRpTl0_JX2E95l_xAFs5UwZUlNQhhn7lj1H"></script>  

  <style type="text/css">  
    #map{  
    height: 75%;  
    width: 100%;  
    }  
  </style>  

</head>  

<body>  
  


<%= yield %>

</body>  
</html>  
